</main>
<footer>

</footer>
</body>
<style>
header,
main,
footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {

    header,
    main,
    footer {
        padding-left: 0;
    }
}
</style>
<script src="/stylesheets/materialize/js/jquery-3.2.1.js"></script>
<script src="/stylesheets/materialize/js/materialize.js"></script>

<script src="/javascript/j.js"></script>
<script>
$(document).ready(function () {
    $(".button-collapse").sideNav();
    $(".dropdown-button").dropdown({
        belowOrigin:true,
        hover:true
    });
});
</script>
</body>

</html>