<% include partials/head %>
<form action="/admin/adminsignup" method="POST" class="row">
    <div class="input-field col s6">
        <input placeholder="" id="Surname" name="name" type="text" class="validate">
        <label for="Surname">FULL NAME</label>
    </div>



    <div class="input-field col s6">
        <input placeholder="" name="email" id="Student Email" type="email" class="validate">
        <label for="Student Email">EMAIL</label>
    </div>



    <div class="input-field col s12">
        <input placeholder="" id="surname" name="password" type="password" class="validate">
        <label for="surname">PASSWORD</label>
      </div>
      <div class="input-field col s12">
        <input placeholder="" id="surname" name="confirmpassword" type="password" class="validate">
        <label for="surname">COMFORM PASSWORD</label>
      </div>


    <div class="center input-field col s12">
        <input class="btn  light-blue  waves-effect" value="SIGN UP" type="submit" />
        
        
    </div>
</form>


<% include partials/footer %>