<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script href="/javascript/index.js"></script>
</head>

<body>
    <div id="adminDashboard">

        <div class="dashLeft">
            <p>adminDashboard</p>
        </div>


        <div class="dashRight">
            <p>adminDashboard</p>
        </div>

    </div>


</body>

</html>