<% include partials/studenthead %>
<div id="adminnews">
        <form action="/postcomplain" method="POST">
    
    
            <textarea placeholder="ENTER NEWS CONTENT HERE" name="postcomplain" id="input" class="form-control newsupdate" required="required"></textarea>
    
            <input type="submit" value="UPLOAD" id="submitnews">
    
    
        </form>
    </div>
    <style>
         #adminnews {
        padding: 90px;
        padding-top: 50px;
        padding-right: 100px;

    }

  

  

    #submitnews {
        width: 150px;
        color: #ee6e73;
        font-size: 20px;
        height: 35px;
        font-weight: bolder;
        letter-spacing: 5px;
        border-style: none;
        background-color: white;
        border: 1.5px solid #ee6e73;
        ;
    }

    #submitnews:hover {
        background-color: #ee6e73;
        color: white;
        border: 0px;
}
    
    </style>
<% include partials/studentfooter %>