<% include partials/head %>
        <div class="container">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <h4 class="page-header uppercase">news</h4>
                        <div class="divider"></div>
                        <br>
                        <% for(let i=0; i < news.length; i++) { %>
                        <ul>
                            <br><br><br>
                            
                                <h5> <%= news[i].heading %></h5> 
                            
                            <li>
                              
                               <h6> <%= news[i].body %></h6>
                            </li>

                            <li>
                                <%= news[i].createdDate %>
                            </li>
                            
                            <form action="/admin/deletenews" method="POST">
                                <input type="hidden" name="newsId" value=<%= news[i]._id %> >
                                <button>DELETE NEWS</button>
                            </form>
                            <form action="/admin/editnews" method="PUT">
                                <input type="text" name="header" />
                                <input type="text" name="body" />
                                <button>EDIT NEWS</button>
                            </form>
                            <hr>

                            </ul>
                        <% } %>
                        <br>
                        <div class="divider"></div>
                    </div>
                </div>

               </div>
        </div>
        <% include partials/footer %>
        