<% include homepartials/homehead %>

    <div class="slider fullscreen">
      <ul class="slides">
        <li>
          <img src="/"> <!-- random image -->
          <div class="caption center-align">
            <div class="flex">
              <div class="items">
                <h3 class="">This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">You can edit me in the index page</h5>
              </div>
            </div>
          </div>
        </li>
        <li>
          <img src=""> <!-- random image -->
          <div class="caption center-align">
            <div class="flex">
              <div class="items">
                <h3>This is another big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
            </div>
          </div>
        </li>
        <li>
          <img src=""> <!-- random image -->
          <div class="caption center-align">
            <div class="flex">
              <div class="items">
                <h3>This is another another big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <% include homepartials/homefooter %>