<html>
<head>
<title>HOMEPAGE</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" href="/images/home.jpg">

</head>


<body>
<!-- 
  <div class="navBar">
    
      <ul>
        <li><a href="#">HOME</a></li>
        <li class="dropbtn">STUDENT</li>
        <ul class="dropdown-content">
          <li><a href="">LOGIN</a></li>
          <li><a href="">SIGN UP</a></li>
        </ul>
        <li><a href="">ADMIN</a></li>
        <li><a href="">UPDATES</a></li>
      </ul>
    
  </div> -->

  <div class="homeNav">
    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="#">STUDENT</a>
          <ul>
            <li><a href="/login">LOG IN</a></li>
            <li><a href="/signup">SIGN UP</a></li>
          </ul>
        </li>
        <li><a href="/admin">ADMIN</a></li>
        <li><a href="/updates">UPDATES</a></li>
      </ul>
    </nav>
  </div>










<!-- 
  <div class="homenav">
    <ul>
      <li><a href="#">HOME</a> </li>
      <li class="student" class="drop"><a href="" class="">STUDENT</a>
        <ul class="dropDown">
          <li><a href="/login">LOGIN</a></li>
          <li><a href="/signup">SIGN UP</a></li>
        </ul>
      </li>

      <li><a href="/admin">ADMIN</a></li>
      <li><a href="/updates">UPDATES</a></li>
    </ul>
  </div> -->
  
<!--   
  <div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div> -->

</body>

</html>