<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/materialize/css/materialize.css">
    <link rel="stylesheet" href="/stylesheets/iconfont/material-icons.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="grey lighten-2">
        <header>
                <nav>
                    <div class="nav-wrapper">
                        <div class="container">
                                <a href="#!" class="brand-logo captialize"><%= title %></a>
                                <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
                                <ul class="right hide-on-med-and-down">
                                    <!-- <li><a href="sass.html"></a></li>
                                    <li><a href="badges.html"></a></li>
                                    <li><a href="collapsible.html"></a></li> -->
                                    <li><a href="/">logout</a></li>
                                </ul>
                        </div>
                    </div>
                </nav>
            </header>
    <ul id="slide-out" class="side-nav fixed">
        <!-- <li><div class="user-view">
                  <div class="background">
                    <img src="images/office.jpg">
                  </div>
                  <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
                  <a href="#!name"><span class="white-text name">John Doe</span></a>
                  <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
                </div></li> -->
        <li><a href="#!"><i class="material-icons"></i></a></li>
        <li><a href="#!"><i class="material-icons"></i></a></li>
        <li><a class="subheader">ADMIN DASHBOARD</a></li>
        <div class="divider"></div>
        <li><a class="waves-effect" href="/hostelrequest">HOSTEL REQUEST</a></li>
        <div class="divider"></div>
        <li><a class="waves-effect" href="/allocatedstudent">ALLOCATED STUDENTS</a></li>
        <div class="divider"></div>
        <li><a class="waves-effect" href="/availablehostel">AVAILABLE HOSTELS</a></li>
        <div class="divider"></div>
        <li><a class="waves-effect" href="/complain">STUDENT COMPLAINTS</a></li>
        <div class="divider"></div>
        <li><a class="waves-effect" href="/newsupdate">NEWS UPDATES</a></li>
        <div class="divider"></div>
        <li><a class="waves-effect" href="adminsignup">ADD ANOTHER ADMIN</a></li>
        <div class="divider"></div>
    </ul>
   
    <main>
        <div id="adminnews">
           <form action="">
               <textarea placeholder="ENTER NEWS HEADING HERE" class="newsheading" required="required" name="" id="" cols="2" rows="1"></textarea>
               <textarea placeholder="ENTER NEWS CONTENT HERE" name="newsupdate" id="input" class="form-control newsupdate" required="required"></textarea>
               <input type="submit" value="UPLOAD" name="addnews" id="submitnews">
           </form>

        </div>

    </main>
    <footer>

    </footer>
</body>
<style>
    header,
    main,
    footer {
        padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {

        header,
        main,
        footer {
            padding-left: 0;
        }
    }
    #adminnews{
        padding: 90px;
        padding-top: 50px;
        padding-right: 100px;
        
    }
    .newsheading{
        background-color: white;
        font-size: 25px;
        text-transform: uppercase;
        word-spacing: 7px;
        letter-spacing: 8px;
        padding-left: 30px;
        border: 1px solid #ee6e73;
        
    }
    .newsupdate{
        background-color: white;
        height: 320px;
        font-size: 18px;
        word-spacing: 4px;
        letter-spacing: 4px;
        padding-left: 30px;
        border: 1px solid #ee6e73;
    }
    #submitnews{
        width: 150px;
        color:  #ee6e73;
        font-size: 20px;
        height: 35px;
        font-weight: bolder;
        letter-spacing: 5px;
        border-style: none;
        background-color: white;
        border:1.5px solid #ee6e73;;
    }
    #submitnews:hover{
        background-color:  #ee6e73;
        color: white;
        border: 0px;
        
    }
    
    
</style>
<script src="/stylesheets/materialize/js/jquery-3.2.1.js"></script>
<script src="/stylesheets/materialize/js/materialize.js"></script>
<script>
    $(document).ready(function () {
        $(".button-collapse").sideNav();
    });
</script>
</body>

</html>