<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="homeNav">
          <nav>
            <ul>
              <li><a href="#">HOME</a></li>
              <li><a href="">STUDENT</a>
                <ul>
                  <li><a href="/login">LOG IN</a></li>
                  <li><a href="/signup">SIGN UP</a></li>
                </ul>
              </li>
              <li><a href="/admin">ADMIN</a></li>
              <li><a href="/updates">UPDATES</a></li>
            </ul>
          </nav>
        </div>



        <div class="studentLogin signUp" id="signup">
          <form action="/signup" method="POST" class="signUp form">
            <form action="" method="POST" class="log">
              <input type="text" name="name" id="" placeholder="ENTER YOUR FULL NAME"> 
              <input type="number" name="matric" placeholder="ENTER YOUR MATRIC NUMBER"> 
              <input type="faculty" name="faculty" placeholder="ENTER YOUR FACULTY">   
              <input type="department" name="department" placeholder="ENTER YOUR DEPARTMENT">  
              <input type="password" name="password" placeholder="ENTER PASSWORD">  
              <input class="signUp" type="submit" value="SIGN UP">
          </form>
        </div>



<!-- 
    <div class="navBar">
      <p class="host"></p>
        
    </div>

    <div class="sign">
      <div class="leftSign">
        <p></p>
        <p></p>
        <p></p>
      </div>
      <div class="rightSign"></div>
    </div> -->
  </body>
</html>
