<% include partials/head %>

        <div class="container">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <h4 class="page-header uppercase">COMPLAINT</h4>
                        <div class="divider"></div>
                        <br>
                        <% for(let i=0; i < complaint.length; i++) { %>
                        <ul>
                            <li>
                                <h6>
                                    <%= complaint[i].body %>
                                </h6>
                            </li>

                            <li>
                                <%=complaint[i].createdDate %>
                            </li>

                        </ul>

                        <% } %>
                        <br>
                        <div class="divider"></div>
                    </div>
                </div>





            </div>
        </div>
    
<style>

</style>
    <% include partials/footer %>