 body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }

 main {
     flex: 1 0 auto;
 }

 #sidenav-overlay {
     z-index: 1;
 }

 .mt-2 {
     margin-top: 2%;
 }

 .mb-2 {
     margin-bottom: 2%;
 }

 .mt-6 {
     margin-top: 6%;
 }

 .uppercase {
     text-transform: uppercase;
 }

 .capitalize {
     text-transform: capitalize;
 }

 .bold {
     font-weight: bold;
 }

 .thumbnail {
     border: 1px solid #ddd;
     border-radius: 4px;
     padding: 5px;
 }

 .circle-thumbnail {
     border: 1px solid #ddd;
     border-radius: 50px;
     padding: 5px;
 }

 .prallax-container {
     display: -webkit-flex;
     display: -moz-flex;
     display: -ms-flex;
     display: -o-flex;
     display: flex;
 }

 @font-face {
     font-family: kingthings;
     src: url(/stylesheets/Kingthings-Exeter/Kingthings_Exeter.ttf);
 }

 body {
     font-family: kingthings;
 }

 img.thumbnail {
     width: 170px;
 }



 nav {
     border-bottom: #36D1DC 2px;
 }

 .justify {
     text-align: justify;
 }

 .flex {
     display: flex;
     height: 60vh;
 }

 .items {
     margin: auto;
 }

 #sidenav-overlay {
     z-index: -1;
 }

 .bottom-border {
     border-bottom: #00695c solid 1px;
 }

 .border {
     border: solid #00695c 1px;
 }
 .top-border{
     border-top: #00695c solid 1px;
 }
 .right-border{
     border-right: #00695c solid 1px;
 }
 .left-border{
    border-left: #00695c solid 1px;
 }














